

.container{  
position: absolute;  
width: 50%;  
min-width: 580px;  
transform: translate(-50%,-50%);  
top: 50%;  
left: 50%;  
background: #fff;  
padding: 50px 10px;  
border-radius: 5px;  
display: grid;  
justify-items: center;  
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 
}  




*{  
   padding: 0;  
   margin: 0;  
   box-sizing: border-box;  
 }  
 body{
   background-color: wheat
 }

 h3{  
   font-size: 16px;  
   font-weight: 25;  
 }  
 input[type="text"]{  
   width: 65px;  
   font-weight: 6;  
   padding: 5px 0;  
   font-size: 28px;  
   text-align: center;  
   margin-top: 30px;  
   border-radius: 5px;  
   border: 2px solid #202020;  
   color: #663399;  
 }  
 button{  
   width: 160px;  
   padding: 12px 0;  
   border-radius: 5px;  
   background-color: bisque;  
   color: #fff;  
   border: none;  
   font-size: 16px;  
   font-weight: 600;  
   margin-bottom: 30px;  
 }  
 p{  
   font-weight: 25;  
 }  
 div {
  width: 300px;
  padding: 25px;
  border: 25px;
  box-shadow: 5px, 5px, 5px, black ;
  margin: 25px;