h1{
    text-align: center;
}
h2{
    text-align: center;

}
.button{
    margin-left: 550px;
}
 .bod{
background: ghostwhite; 
            font-size: 20px; 
            padding: 60px; 
            height: 150px;
            width:250px;
            border: 10px solid lightgray; 

           
 }
 