body{
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

p{

    color: black;
    
    
    
    
    

}

h1{
    color: black;
    font-weight: bolder;
    text-align: center;
    
    
    
}

h2{
    background-image: linear-gradient( to left, salmon, darkgrey ,beige);
    font-weight: bolder;
    text-align: center;
}


aside{
    text-align: bottom;
    text-align: end;
    text-decoration: double;
    bottom: var(center);
    font-display: swap;


}
.boldWord{
    font-weight: bolder;
    color: dimgrey;
}

.standout{
    background-image: linear-gradient(to left, left, rgb(172, 208, 89) white, gray);
}





.text_shadow{
    
    
    text-shadow: 5px 5px 5px;
    font-size: xx-large


}

/*The following styles is for file listings6_2.html*/
.rightalign
{
    text-align: right;
    background-color: white;
}

.centeralign{
    text-align: center;
}

#tblHeader{
    background-color:white;
    text-transform: uppercase;
    font-weight: bolder;
    color:beige;
   
}
table,tr,th,td{
    border:1px solid black;
    border-collapse:collapse;
    padding:3px;
}
.article
{
    column-count: 3;
    column-gap: 21px;
    column-rule-width: 1px;
    column-rule-style: solid;
    column-rule-color: #000;

}
.header{
    text-align: center;
    column-span: all;
}

.para{
    margin-top: 0px;
    margin-bottom: 12px;
}
.foot{
    column-span: all;
}


